* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    background: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
}

h1 {
    text-align: center;
    margin: 1em 0 0.6em 0;
    color: #FFF;
    font-family: 'Rock Salt', cursive;
    font-size: 3rem;
}

#btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 1em;
    padding: 0.75em 2em;
    border: none;
    border-radius: 5px;

    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;

    background-color: #0040ff;
    opacity: 0.8;
    color: #FFF;
    box-shadow: 0px 16px 10px -10px rgba(0, 0, 0, 0.7);
    transition: all ease-in-out 300ms;
}

.btn:hover {
    box-shadow: 0px 36px 19px -14px rgba(0, 0, 0, 0.7);
    transform: translate(0px, -3px);
    opacity: 1;

}

#main-wrapper {
    margin: 2em auto;
    width: 604px;
    height: 604px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 2px solid #000;
    background-color: #CCC;
}

.cell {
    border: 1px solid #444;
    background-color: #FFF;
    transition: all 350ms;
}